.header {
    text-align: center;
    color: #577f63;
    text-decoration: underline;
    font-weight: bold;
  }
  
  label {
    color: white;
  }
  
  button {
    background-color: #577f63;
    color: white;
    width: 115px;
    height: 35px;
    border: none;
  }
  