<div class="row">
    <div class="drag_n_drop">
        <div class="select-box-list-container">
            <div class="col-12">
                <div class="detailscls offset-lg-1 pl-4">Incentive Name : {{lineItemsInfo.incentiveName}}
                    <br> Incentive Type: {{lineItemsInfo.incentiveType}}
                    <div class="notes">Double click to add a detail to the incentive. <br>Double click again to remove</div></div>
                <div class="row offset-lg-1">
                    <div class="col-12 col-lg-4 terms_cond">
                        <!-- <div class="vertical"> -->
                        <p class="pl-4">Select Incentive Detail Fields</p>
                        <div class="drag pl-4">
                            <!-- Drag and drop required fields -->
                        </div>
                        <div class="">
                            <div class="search">
                                <input type="text" [(ngModel)]="leftFilterText" [disabled]="disabled" [ngModelOptions]="{standalone: true}" placeholder="Search">
                            </div>


                        </div>


                        <!-- </div> -->
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-2 col-lg-2">&nbsp;</div>
                            <div class="col-10 col-lg-10 details">
                                <p class="pb-2">Detail
                                    <span class="num">{{_glbLineItemId}}</span>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-2">
                        <div class="text-right">
                            <span>
                                <img src="assets/images/Favorite.png">
                            </span>
                            <span class="pl-4">
                                <img src="assets/images/Print.png">
                            </span>
                            <span class="pl-4">
                                <img src="assets/images/Email.png">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row offset-lg-1">
                    <div class="col-12 col-lg-4 terms_cond">
                        <div class="term" style="margin-top:5%;">
                            <div class="select-box-list vertical" cdkDropList #origList="cdkDropList" [cdkDropListConnectedTo]="[selList]" (cdkDropListDropped)="dragOntoLeftItems($event)">

                                <ng-container *ngFor="let item of originalItems | alphaFilter : leftFilterText: alphaColumns :'dragndrop'; let i=index">
                                    <div id="{{item.value.Varbl_Unique_Id}}" class="button">

                                        <div class="outlinebtn"  [ngClass]="item.selected ? 'selected' : ''" (click)="item.selected = isDraggable(item.value.Varbl_Unique_Id,item.selected)"
                                            (dblclick)="addListItems(item.value.Varbl_Unique_Id,i)" [cdkDragDisabled]="(disabled || _glbDisableAll || !item.selected)">

                                            {{item.value.Varbl_Display_Name}}
                                        </div>

                                        <div class="pt-2 float-left">{{item.value.Varbl_Type_Name}}</div>
                                    </div>

                                    <div>
                                        <div *cdkDragPlaceholder></div>
                                        <div class="lineitems-drag" *cdkDragPreview>
                                            {{item.value.Varbl_Display_Name}}
                                        </div>
                                    </div>

                                </ng-container>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 terms_cond">
                        <div class="row align-items-center">
                            <div class="col-2 col-lg-2 text-right" style="margin-top: 30%;" (click)="addItems()">
                                <img src="assets/images/Arrow_drag.png">
                            </div>
                            <div class="col-10 col-lg-10">
                                <div class="select-box-list vertical" style="margin-top:4%;" cdkDropList #selList="cdkDropList" [cdkDropListConnectedTo]="[origList]" (cdkDropListDropped)="dragOntoRightItems($event)">
                                    <div *ngIf="!_glbSelectEnabled">
                                        <div class="col-10 col-lg-10 details">
                                            <input type="text">
                                            <input type="text">
                                            <input type="text">
                                            <input type="text">
                                            <input type="text">
                                            <input type="text">

                                        </div>
                                        <div class="col-md-9">
                                            <div style="margin:auto;width:30%;">
                                                <input type="button" value="Back" class="save_btn" style="width: 100%;margin-top: 10% !important;" (click)="onCancel()">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="_glbSelectEnabled">
                                        <div class="row" class="term" style="direction:ltr;padding:0px !important;">
                                            <div class="row term" style="direction:ltr;padding:0px !important;">
                                             
                                                    <div class="col-12">
                                                            <form [formGroup]="detailsFormGroup" (submit)="onDetailsSubmit()">


                                                                <div class="row">
                                                                    <div class="col-12" style="display:flex;">

                                                                        <div class="col-lg-4 px-0 align-self-center">
                                                                            Line Item Name :
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div class="button">
                                                                                <div>
                                                                                    <div>
                                                                                        <input [ngModel]="_glbLineHdrName" class="outlinebtn" style="width:96%;" type="text" required="required" formControlName="LineHeader">

                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-12" style="display:flex;" *ngFor="let items of detailsOptionValues.controls; let j=index">
                                                                        <div class="col-lg-4 px-0 align-self-center">
                                                                            {{detailsFormGroup.value.detailsOptionValues[j].detailName}} :
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div>
                                                                               <div formArrayName="detailsOptionValues">
                                                                                    <div class="button" [formGroupName]="j"  [ngClass]="items.selected ? 'dragged':''"  (dblclick)="items.selected=onDragToLeft(detailsFormGroup.value.detailsOptionValues[j].uniqCode,'M')">
                                                                                        <div class="mr-2" >
                                                                                            <div>
                                                                                            <angular2-multiselect formControlName="controlid" id="{{'ddl'+detailsFormGroup.value.detailsOptionValues[j].uniqCode}}" style="cursor: pointer; text-align: left; color:black;" 
                                                                                                [data]="detailOptions[detailsFormGroup.value.detailsOptionValues[j].uniqCode]"
                                                                                                [(ngModel)] ="singlDropSlctValues[detailsFormGroup.value.detailsOptionValues[j].uniqCode]"
                                                                                                [settings]="dropdownSettingsSingle"
                                                                                                (onSelect)="onItemSelect($event,detailsFormGroup.value.detailsOptionValues[j].uniqCode)"
                                                                                                (onDeSelect)="OnItemDeSelect($event,detailsFormGroup.value.detailsOptionValues[j].uniqCode)"
                                                                                                (onSelectAll)="onSelectAll($event,detailsFormGroup.value.detailsOptionValues[j].uniqCode)"
                                                                                                (onDeSelectAll)="onDeSelectAll($event,detailsFormGroup.value.detailsOptionValues[j].uniqCode)"
                                                                                                (onClose)="onAngularClose(detailsFormGroup.value.detailsOptionValues[j].uniqCode,detailsFormGroup.value.detailsOptionValues[j].varblId)">
                                                                                            </angular2-multiselect>
                                                                                            </div>
                                                                                            <!-- <div><small class="errormessage"
                                                                                                *ngIf="_glbFormSubmitted && detailsFormGroup.controls.detailsMultiOptionValues.controls[j].get('controlid').errors?.required">please select option</small></div> -->
                                                                                        </div>
                                                                                    </div>
                                                                  
                                                                               </div>
                                                                            </div>
                                                                        </div>
                                                                        <div style="float:right;align-self:center;margin-top:4%;" *ngIf="detailsFormGroup.value.detailsOptionValues[j].uniqCode === 'TIER'">
                                                                            <img style="cursor: pointer;" title="Tier Options" class="addImg" src="assets/images/circle_icon.png" (click)="openModal('tier-modal')">
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div style="display:flex;" class="col-12" *ngFor="let item of detailsMultiOptionValues.controls; let j=index">
                                                                        <div class="col-lg-4 px-0 align-self-center">
                                                                            {{detailsFormGroup.value.detailsMultiOptionValues[j].detailName}} :
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div >
                                                                                <div>
                                                                                    <div formArrayName="detailsMultiOptionValues">
                                                                                        <div class="button" [formGroupName]="j"  [ngClass]="item.selected ? 'dragged':''"  (dblclick)="item.selected=onDragToLeft(detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode,'M')">
                                                                                            <div class="mr-2" >
                                                                                                <div>
                                                                                                <angular2-multiselect  formControlName="controlid" id="{{'ddlMulti'+detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode}}" style="cursor: pointer; text-align: left; color:black;" 
                                                                                                    [data]="detailOptions[detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode]"
                                                                                                    [(ngModel)] ="multiDropSlctValues[detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode]"
                                                                                                    [settings]="dropdownSettings"
                                                                                                    (onSelect)="onMultiItemSelect($event,detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode)"
                                                                                                    (onDeSelect)="OnMultiItemDeSelect($event,detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode)"
                                                                                                    (onSelectAll)="onMultiSelectAll($event,detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode)"
                                                                                                    (onDeSelectAll)="onMultiDeSelectAll($event,detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode)"
                                                                                                    (onClose)="onAngularMultiClose(detailsFormGroup.value.detailsMultiOptionValues[j].uniqCode,detailsFormGroup.value.detailsMultiOptionValues[j].varblId)">
                                                                                                </angular2-multiselect>
                                                                                                </div>
                                                                                                <!-- <div><small class="errormessage"
                                                                                                    *ngIf="_glbFormSubmitted && detailsFormGroup.controls.detailsMultiOptionValues.controls[j].get('controlid').errors?.required">please select option</small></div> -->
                                                                                            </div>
                                                                                        </div>
                                                                      
                                                                                   </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-12" style="display:flex;" *ngFor="let item of detailsValues.controls; let idx = index">

                                                                        <div class="col-lg-4  align-self-center"  style="padding:5px;">
                                                                            {{detailsFormGroup.value.detailsValues[idx].detailName}} :
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <div  >
                                                                                <div>
                                                                                    <div formArrayName="detailsValues">
                                                                                        <div [formGroupName]="idx">
                                                                                            <div style="display:flex;">
                                                                                               
                                                                                                <div *ngIf="detailsFormGroup.value.detailsValues[idx].isDealerSpec!=='Y'" class="button"  [ngClass]="item.selected ? 'dragged':''"  (dblclick)="item.selected=onDragToLeft(detailsFormGroup.value.detailsValues[idx].uniqCode,'M')">
                                                                                                        <div class="input-icons">
                                                                                                                
                                                                                                                <span *ngIf="detailsFormGroup.value.detailsValues[idx].prefix!=='%'" style="font-size: 16px;margin: 2%;">{{detailsFormGroup.value.detailsValues[idx].prefix}}</span>
                                                                                                                <input  [ngModel]="detailsFormGroup.value.detailsValues[idx].data"
                                                                                                                class="outlinebtn input-field" style="width:100%;border:1px solid #fff !important"
                                                                                                                type="text" required="required"
                                                                                                                formControlName="idx" 
                                                                                                                (keypress)="restrictControls($event,detailsFormGroup.value.detailsValues[idx].restrictTo)">
                                                                                                                <span *ngIf="detailsFormGroup.value.detailsValues[idx].prefix==='%'" style="font-size: 16px;margin: 2%;margin-left:-5%">{{detailsFormGroup.value.detailsValues[idx].prefix}}</span>
                                                                                                          </div>
                                                                                                   
                                                                                                </div>
                                                                                                <div *ngIf="detailsFormGroup.value.detailsValues[idx].isDealerSpec==='Y' && dealerShipId == 0" class="button"  [ngClass]="item.selected ? 'dragged':''"  (dblclick)="item.selected=onDragToLeft(detailsFormGroup.value.detailsValues[idx].uniqCode,'M')">
                                                                                                        <input class="outlinebtn" style="width:100%;opacity:0.7;" disabled placeholder="Dealer will submit"
                                                                                                        type="text" title="{{detailsFormGroup.value.detailsValues[idx].detailName}}"
                                                                                                        formControlName="idx">
                                                                                                    </div>
                                                                                                    <div *ngIf="detailsFormGroup.value.detailsValues[idx].isDealerSpec==='Y' && dealerShipId != 0 " class="button"  [ngClass]="item.selected ? 'dragged':''"  (dblclick)="item.selected=onDragToLeft(detailsFormGroup.value.detailsValues[idx].uniqCode,'M')">
                                                                                                        <input class="outlinebtn input-field" style="width:100%;border:1px solid #fff !important" [ngModel]="detailsFormGroup.value.detailsValues[idx].data"
                                                                                                        type="text" title="{{detailsFormGroup.value.detailsValues[idx].detailName}}"
                                                                                                        formControlName="idx">
                                                                                                    </div>
                                                                                            </div>
                                                                                           
                                                                                            
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>


                                                                <div class="row">
                                                                        <div class="col-12" style="display:flex;" *ngFor="let item of detailsBoolValues.controls; let idx = index">
                                                                            <div class="col-lg-4 align-self-center" style="padding:5px;">
                                                                                    {{detailsFormGroup.value.detailsBoolValues[idx].detailName}} :
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div formArrayName="detailsBoolValues">
                                                                                    <div [formGroupName]="idx">
                                                                                        <div class="button" [ngClass]="item.selected ? 'dragged':''" (dblclick)="item.selected=onDragToLeft(detailsFormGroup.value.detailsBoolValues[idx].uniqCode,'M')">
                                                                                            <div>
                                                                                                <div class="outlinebtn" style="width:98%;border:1px solid #fff !important;text-align:center;opacity:0.6">
                                                                                                    {{detailsFormGroup.value.detailsBoolValues[idx].detailName}}
                                                                                                </div>
                                                                                            </div>
                                                                        
                                                                                        </div>
                                                                        
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>




                                                                <!-- <div *cdkDragPlaceholder class="select-box-placeholder vertical">
                                                                    <span *ngFor="let rightPreview of getRightSelectedList()">{{rightPreview.value.Varbl_Display_Name}}</span>
                                                                </div>
                                                                <div *cdkDragPreview class="select-box-preview vertical">
                                                                    <span *ngFor="let rightPreview of getRightSelectedList()">{{rightPreview.value.Varbl_Display_Name}}</span>
                                                                </div> -->
                                                            </form>
                                                        </div>

                                            </div>
                                            <div class="row" style="margin-top:5%;">
                                                <div *ngIf="_glbIsSaved" class="col-md-4" style="margin-top:0.7%;">
                                                    <div *ngIf="_glbIsSaved" style="display:flex;cursor: pointer;float:right" (click)="addLineItem()">
                                                        <div>
                                                            <img style="height:20px;width:20px;" class="addImg" src="assets/images/circle_icon.png">
                                                        </div>
                                                        <div style="margin-left:5%;">Details</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8" style="display:flex;margin:auto;">
                                                        <label *ngIf="_glbIsSaved" style="margin-right:5%;margin-top:1%;">or</label>
                                                        <input *ngIf="!_glbIsSaved && lineItemsInfo['viewType']==='U'" style="margin-right:5% !important;width:40%;background: #757171 !important;" type="button" value="Reset" class="btn_reset" (click)="resetSelection('U')">
                                                        <input *ngIf="!_glbIsSaved && lineItemsInfo['viewType']!=='U'" style="margin-right:5% !important;width:40%;background: #757171 !important;" type="button" value="Reset" class="btn_reset" (click)="resetSelection('')">
                                                        <input *ngIf="!_glbIsSaved" style="margin-right:5% !important;width:40%;background: #252525 !important;" type="button" value="Back" class="btn_back" (click)="onCancel()">
                                                        <input *ngIf="!_glbIsSaved" type="button" value="Save" class="btn_save" style="width:40%;background: #00a453 !important;" (click)="onDetailsSubmit('')">
                                                        <input *ngIf="_glbIsSaved" type="button" value="View" class="btn_save" style="width:40%;background: #00a453 !important;" (click)="onCancel()">
                                                        <input *ngIf="isClone" type="button" value="Clone" class="btn_save" style="margin-left:5% !important;width:40%;background: #666d75 !important;" (click)="cloneLineItem()">
                                                        <input *ngIf="lineItemsInfo['viewType']==='U'" type="button" value="Delete" class="btn_save" style="margin-left:5% !important;width:40%;background: #e97067 !important;" (click)="onDetailsSubmit('D')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <jw-modal id="tier-modal" style="height:200px;">

                <h4 style="margin-top:2%;text-align:center;">Select required Fields</h4>
                <div style="height:150px;margin-top:9%;">
                    <div class="button">
                        <div style="width:87%;margin-left:17%;cursor: pointer;">

                            <div class="outlinebtn select-box-list-item" [ngClass]="tierBtn ? 'selected' : ''" (click)="tierBtn=true;tierBtn1=false;">Unit Price</div>
                            <div style="margin-top:5%" [ngClass]="tierBtn1 ? 'selected' : ''" (click)="tierBtn1=true;tierBtn=false;" class="outlinebtn select-box-list-item">MSRP</div>

                        </div>
                    </div>
                    <div style="width:100%;align-self:center;">
                        <input type="button" value="OK" class="btn_save" style="width:20%;margin-top:7%;margin-left: 39%;" (click)="applyToModal('tier-modal')">
                    </div>
                </div>

            </jw-modal>
        </div>