<div class="gradient_Profilebg">
    <app-header></app-header>
<div class="col-12 pt-5" >
    <div class="ml-4">
    <form [formGroup]="dshipForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup">
                  <label>First Name</label>
                  <input type="text" [(ngModel)]="fname" class="form-control" maxlength="48" formControlName="FirstName"   autofocus>
                  <!-- <div *ngIf="!dshipForm.controls.FirstName.valid && (dshipForm.controls.FirstName.dirty||submitted)" class="error">
                      <div *ngIf="dshipForm.controls.FirstName.errors.required">First Name is required</div>
                      <div *ngIf="dshipForm.controls.FirstName.errors.pattern">First Name is invalid</div>
                  </div> -->  
                  <div *ngIf="submitted &amp;&amp; dshipForm.controls.FirstName.errors" class="text-danger">
                    <div *ngIf="dshipForm.controls.FirstName.errors.required">FirstName  is required</div>
                    <div *ngIf="dshipForm.controls.FirstName.errors.pattern">FirstName  must be String</div>
                    
                </div>
              </div>
              
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup">
                  <label>Last Name</label>
                  <input type="text" class="form-control"  [(ngModel)]="lname" maxlength="48" formControlName="LastName">
              </div>
              <!-- <div *ngIf="!dshipForm.controls.LastName.valid && (dshipForm.controls.LastName.dirty||submitted)" class="error">
                  <div *ngIf="dshipForm.controls.LastName.errors.required">Last Name is required</div>
                  <div *ngIf="dshipForm.controls.LastName.errors.pattern">Last Name is invalid</div>
              </div> -->
              <div *ngIf="submitted &amp;&amp; dshipForm.controls.LastName.errors" class="text-danger">
                <div *ngIf="dshipForm.controls.LastName.errors.required">LastName  is required</div>
                <div *ngIf="dshipForm.controls.LastName.errors.pattern">LastName  must be String</div>
                
            </div>
          </div>
      </div>
      
      <div class="row justify-content-center pt-1">
      
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="formgroup grp grp_det">
                <label>Gender</label>
              <select class="form-control" [(ngModel)]="dealergender" formControlName="Gender">
                  <option value="">Select Gender</option>
                  <option *ngFor="let g of gender" [value]="g.value">{{g.group}}</option>
                 
                 
              </select>
              <!-- <div *ngIf="!dshipForm.controls.Gender.valid && (dshipForm.controls.Gender.dirty||submitted)" class="error">
                <div *ngIf="dshipForm.controls.Gender.errors.required">Gender is required</div>
            </div> -->
            <div *ngIf="submitted &amp;&amp; dshipForm.controls.Gender.errors" class="text-danger">
              <div *ngIf="dshipForm.controls.Gender.errors.required">Gender  is required</div>
           </div>
            </div>
        </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>Job Title</label>
                  <input type="text" class="form-control" maxlength="48" formControlName="JobTitle" [(ngModel)]="job">
              </div>
              <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.JobTitle.errors" class="text-danger">
                <div *ngIf="dshipForm.controls.JobTitle.errors.required">JobTitle  is required</div>
             
                
            </div> -->
          </div>
      </div>
      <div class="row justify-content-center pt-1">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="formgroup grp grp_det">
                <label>Email Id</label>
                <input type="text" [(ngModel)]="login" class="form-control" maxlength="48"  formControlName="loginId">
                <!-- <div *ngIf="!dshipForm.controls.loginId.valid && (dshipForm.controls.loginId.dirty||submitted)" class="error">
                    <div *ngIf="dshipForm.controls.loginId.errors.required">login Id is required</div>
                    <div *ngIf="dshipForm.controls.loginId.errors.pattern">Must be a valid email</div>
                </div> -->
                <div *ngIf="submitted &amp;&amp; dshipForm.controls.loginId.errors" class="text-danger">
                  <div *ngIf="dshipForm.controls.loginId.errors.required">EmailId  is required</div>
                  <div *ngIf="dshipForm.controls.loginId.errors.pattern">EmailId  must be a valid email</div>
               </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="formgroup grp grp_det">
              <label>Password</label>
              <input type="button" value="Change Password"  class="form-control changepwd" (click)="openDialog()"/>
                 <!-- <label>Password</label> -->
                <!-- <input type="password" [readonly]="true" [(ngModel)]="dealerUsersArry.Du_password" class="form-control"  formControlName="Password"> -->
                <!-- <div *ngIf="!dshipForm.controls.Password.valid && (dshipForm.controls.Password.dirty||submitted)" class="error">
                    <div *ngIf="dshipForm.controls.Password.errors.required">Password is required</div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-1">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="formgroup grp grp_det">
                <label>Date of Joining</label>
                <input type="date"  id="jdate" name="jdate"     [ngModel]="dateofjoining | date:'yyyy-MM-dd'"    class="form-control" maxlength="48"  formControlName="DateofJoining" >
            </div>
         
            <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.DateofJoining.errors" class="text-danger">
              <div *ngIf="dshipForm.controls.DateofJoining.errors.required">DateofJoining  is required</div>
           
              
          </div> -->
        </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>Date of Birth</label>
                  <input type="date"  class="form-control" maxlength="48"  [ngModel]="dateofbirth | date:'yyyy-MM-dd'"   formControlName="Dob">
              </div>
              <!-- <div *ngIf="!dshipForm.controls.Dob.valid && (dshipForm.controls.Dob.dirty||submitted)" class="error">
                  <div *ngIf="dshipForm.controls.Dob.errors.required">Dob is required</div>
              </div> -->
              <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.Dob.errors" class="text-danger">
                <div *ngIf="dshipForm.controls.Dob.errors.required">Dob  is required</div>
             </div> -->
            </div>
      </div>
      
      
        <div class="row justify-content-center pt-1">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>Address1</label>
                  <input type="text" [(ngModel)]="address1" class="form-control" maxlength="48"   formControlName="Address1">
                  <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.Address1.errors" class="text-danger">
                    <div *ngIf="dshipForm.controls.Address1.errors.required">Address1  is required</div>
                 </div> -->
              </div>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>Address2</label>
                  <input type="text"  [(ngModel)]="address2" class="form-control" maxlength="48"  formControlName="Address2">
              </div>
          </div>
      </div>
    
  
   

      <div class="row justify-content-center pt-1">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>City</label>
                  <input type="text" class="form-control" [(ngModel)]="city" maxlength="48"  formControlName="City">
                  <!-- <div *ngIf="!dshipForm.controls.City.valid && (dshipForm.controls.City.dirty||submitted)" class="error">
                      <div *ngIf="dshipForm.controls.City.errors.required">City is required</div>
                  </div> -->
                  <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.City.errors" class="text-danger">
                    <div *ngIf="dshipForm.controls.City.errors.required">City  is required</div>
                 </div> -->
              </div>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>State</label>
                  <!-- <input type="password" class="form-control" maxlength="50" formControlName="State"> -->
                  <select class="form-control"   formControlName="State" [(ngModel)]="dealerUsersArry.Du_State">
                      <option value="">Select State</option>
                      <option *ngFor="let i of getstates" [value]="i.sg_id">{{i.sg_name}}</option>
      </select>
              </div>
              <!-- <div *ngIf="!dshipForm.controls.State.valid && (dshipForm.controls.State.dirty||submitted)" class="error">
                  <div *ngIf="dshipForm.controls.State.errors.required">State is required</div>
                
              </div> -->
              <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.State.errors" class="text-danger">
                <div *ngIf="dshipForm.controls.State.errors.required">State  is required</div>
             </div> -->
          </div>
      </div>
      <div class="row justify-content-center pt-1">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>Zip Code</label>
                  <input type="text" class="form-control" [(ngModel)]="dealerUsersArry.Du_Zip" maxlength="48"  formControlName="Zip">
                 
              </div>
              <!-- <div *ngIf="!dshipForm.controls.Zip.valid && (dshipForm.controls.Zip.dirty||submitted)" class="error">
                  <div *ngIf="dshipForm.controls.Zip.errors.required">Zip is required</div>
                
              </div> -->
              <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.Zip.errors" class="text-danger">
                <div *ngIf="dshipForm.controls.Zip.errors.required">Zip  is required</div>
             </div> -->
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>Phone</label>
                  <input type="text" class="form-control" maxlength="48"  [(ngModel)]="dealerUsersArry.Du_Phone" formControlName="Phone" pattern="[0-9+( )-]{14}$" [textMask]="{mask: phoneFormat}">
              </div>
              <!-- <div *ngIf="!dshipForm.controls.Phone.valid && (dshipForm.controls.Phone.dirty||submitted)" class="error">
                  <div *ngIf="dshipForm.controls.Phone.errors.required">Phone is required</div>
                
              </div> -->
              <!-- <div *ngIf="submitted &amp;&amp; dshipForm.controls.Phone.errors" class="text-danger">
                <div *ngIf="dshipForm.controls.Phone.errors.required">Phone  is required</div>
             </div> -->
          </div>
      </div>
      <div class="row justify-content-center pt-1">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="formgroup grp grp_det">
                  <label>Role</label>
                  <!-- <select class="form-control" formControlName="Role">
                      <option value="">Select Role</option>
                      <option value="1">Admin</option>
                      <option value="2">User</option>
                  </select> -->
                  <select class="form-control"  [(ngModel)]="dealerUsersArry.Du_Role" formControlName="Role">
                      <option value="">Select Role</option>
                      <option *ngFor="let r of rolesArray" [value]="r.Role_UniqId">{{r.Role_Name}}</option>
                      </select>

                  <!-- <div *ngIf="!dshipForm.controls.Role.valid && (dshipForm.controls.Role.dirty||submitted)" class="error">
                    <div *ngIf="dshipForm.controls.Role.errors.required">Role is required</div>
                </div> -->
                <div *ngIf="submitted &amp;&amp; dshipForm.controls.Role.errors" class="text-danger">
                    <div *ngIf="dshipForm.controls.Role.errors.required">Role  is required</div>
                 </div>
              </div>
          </div>
       
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="formgroup grp grp_det">
                <label>DealerGroup</label>

                <select class="form-control" formControlName="dealeruser"   [(ngModel)]="dealerUsersArry.Du_Dealer_Group_Id" disabled>
                    <option value="">Select DealerGroup</option>
                    <option *ngFor="let d of dealerNames" [value]="d.dg_id">{{d.dg_name}}</option>
                </select>
                <div *ngIf="!dshipForm.controls.dealeruser.valid && (dshipForm.controls.dealeruser.dirty||submitted)" class="error">
                    <div *ngIf="dshipForm.controls.dealeruser.errors.required">Dealer User is required</div>
                </div>
            </div>
        </div>
      </div>
      <div class="row" *ngIf="dealershipcondition">
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="formgroup grp grp_det">
                <label>DealerShip</label>

                <select class="form-control" formControlName="dealershipuser"  [(ngModel)]="dealerUsersArry.Du_Dealer_Id" disabled>
                    <option value="0">Select DealerShip</option>
                    <option *ngFor="let d of dealershipNames" [value]="d.dealer_id">{{d.dealer_name}}</option>
                </select>
                <div *ngIf="!dshipForm.controls.dealershipuser.valid && (dshipForm.controls.dealershipuser.dirty||submitted)" class="error">
                    <div *ngIf="dshipForm.controls.dealershipuser.errors.required">DealerShip is required</div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="formgroup grp grp_det">
                <label>DealarShip</label>
              
                <select class="form-control"  formControlName="dealeruser" [(ngModel)]="dealerUsersArry.Du_Dealer_Id">
                    <option value="">Select DealerShip</option>
                    <option *ngFor="let d of dealerNames" [value]="d.dealer_id">{{d.dealer_name}}</option>

                    </select>
             
              <div *ngIf="submitted &amp;&amp; dshipForm.controls.dealeruser.errors" class="text-danger">
                  <div *ngIf="dshipForm.controls.dealeruser.errors.required">dealeruser  is required</div>
               </div>
            </div>
        </div> -->
    </div>
      <div class="row justify-content-center">
          <div class="col-md-6" style="display: flex; margin: 1% 0 0 5%;">
          <div class="form-group" style="margin-left: -57px;margin-top: 35px;">
                  <img  src="../../../assets/images/prof_img_dwn.png" (click)="selectFile.click()">
                  <input style="display: none;height: 70px;width: 148px;margin-top: 18px;" type="file" name="image" formControlName="fileUpload"   (change)="fileChangeEvent($event)" #selectFile />
                
                  <div class="row justify-content-center">
                      
                    <div class="col-md-6">
                        <button *ngIf="proimg" class="fa fa-times" aria-hidden="true" style=" float: right;" (click)="removeimg()"><img width="3px" height="5px" src="assets/Images/cancelicon.png"></button>
                        <div style="width:150px" *ngIf="selecteimage">
                            <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 4"
                            [resizeToWidth]="128"
                            [resizeToHeight]="128" 
                            format="png"
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()"
                            (loadImageFailed)="loadImageFailed()"
                            ></image-cropper>
                            
                            
                            </div>
                    </div>
                    <div class="col-md-6">
                        &nbsp;&nbsp;
                        <img [src]="proimg"  style="width:150px ;"/>
                    
                    </div>
                </div> 
                 

              
                  <!-- <div class="image-preview" *ngIf="previewUrl">
                      <img [src]="croppedImage" class="userpro"  (error)="onImgError($event)" />
                  </div> -->
                 <img [src]="image" onerror="this.src='assets/images/default.png'" height="100">
          </div>

         
          </div>
      </div>
      
      <!-- <div class="row justify-content-center pt-1" *ngIf="chkstatus">
          <div class="col-xs-4 col-sm-4 col-md-4">
              <div class="form-group">
                  <label class="status">Status</label>
                  <input type="checkbox" formControlName="status">
              </div>
          </div>
      </div> -->

      <div class="row " style="padding-bottom: 4%;">
          <div class="col-sm-2 pl-5">
          </div>
          <div class="col-sm-1 pl-4" style="padding-top: 2%">
              <button type="submit" class="button">Save</button>
          </div>
          <div class="col-sm-1" style="padding-top: 2%">
              <a  style="padding-left: 47px;" (click)="Cancel();"><button  class="button">Cancel</button></a> 
              
          </div>
      </div>
    </form>
  
  </div>
</div>
</div>